<div class="container text-center mt-5">
   <h3 class="text-center">ようこそ管理者様！</h3>
	<div class="row mt-5">
		<div class="col-sm-5 item">アイテム追加</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-5 kokyaku">顧客情報</div>
	</div>
</div>



