<div class="footer">
  <div class="toi">
    <ul>
      <li>
        <%= link_to "お問い合わせ", inquiry_path %>
      </li>
      <li>
        <%= link_to "このサイトについて", inquiry_path %>
      </li>
      <li>
        <%= link_to "プライバシーポリシー", inquiry_path %>
      </li>
      <li>
        <%= link_to "よくあるご質問", inquiry_path %>
      </li>
    </ul>
    <p>© SIO Inc.</p>
  </div>
</div>