<div class="footer">
  <div class="toi">
 <li class="toiawase">
    <%= link_to "お問い合わせ", inquiry_path %>
 </li>
 <li class="toiawase">
    <%= link_to "プライバシーポリシー", inquiry_path %>
 </li>     
  </div>

</div>