<% @email = current_user.email %>
<div class="container">
  <div class="row">
    <div class="main_thanks col-md-8 col-md-offset-2">
      <h3>購入が完了しました</h3>
      <p>詳細をメール<strong><%= @email %></strong>にて送信致しましたのでご確認ください</p>

    </div>
  </div>
</div>