<div class="genre_vue col-sm-4 mt-5" id="genre">
  <div class="row">
     <div class="col-sm-12 col-md-6 panel panel-primary" style="border:none">
        <div class="panel-heading">
          ジャンルで選ぶ
        </div>
        <div class="panel-body">
          <% Genre.all.each do |genre| %>
            <div v-on:click="setGenreInfo('<%=genre.id %>')" style="cursor:pointer" class="genre_non">
                 <%= genre.genre_name %>
            </div>
          <% end %>
        </div>
     </div>
     <div class="col-sm-10 col-sm-offset-1 col-md-5 mt-5 artist_vue" >
        <div class="aaa" v-show="showModal" style="transition: all .3s ease;" >
          <p class="p-art text-center">アーティスト一覧</p>
            <li v-for="artist in artists" v-on:click="setArtistInfo(artist.id)" class= "lime">
               {{ artist.artist_name }}
            </li> 
         </div>
     </div>
  </div>
</div>



