
<div class="row">  
  <div class="genre_vue">
    <genre-artist></genre-artist>
  </div>

  <div class="searched">
    <search-list></search-list>
  </div>
<div>
</div> 
</div>
</div>
<!--  このdivタグはあえて置いてます(application.html.erbのcontainerの関係で)-->
<%= render 'partial/footer' %>








