.admin_header{
	width: 100%;
	height: 60px;
	background-color: gray;
	line-height: 60px;
	color: white;
  z-index: 20;
}
.kokyaku{
  background: #65b99e;
  height: 150px;
  padding: 60px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 3%;
}

.item{
	background: #6586b9;
  height: 150px;
  padding: 60px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 3%;
}
.flex{
	display: flex;
}

.m_auto{
	margin: 0 auto;
}
.mt-5{
	margin-top: 50px;
}
.mt-2{
	margin-top: 20px;
}
.mb-2{
	margin-bottom: 20px;
}

.admin_header a{
	color: white;
}
.admin a{
  color: #fff;
}
.ml-2{
	margin-left: 20px;
}
.mr-2{
	margin-right: 20px;
}

.back{
	padding: 20px;
	color: #000;
}
.ichiran{
  background: #ea7272;
  height: 150px;
  padding: 60px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 3%;
}

#notice_wrapper{
  position: absolute;
  top: 0;
  /*height: ;*/
  width: 100%;
  z-index: 999;
  background: rgba(135, 216, 211, 0.85);
  .notice{
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 700;
  }
  .alert{
    padding: 2.5rem 0;
    text-align: center;
    margin: 0;
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 700;
  }
} 
.pl-5{
  padding-left: 50px;
}
.back-user{
  margin-left: 20px;
}
.links{
  color: #000;
}

.sidebar{
  width: 130px;
  height: 95vh;
  background: #79a1ca;
  position: absolute;
  top: 7.5%;
  left:0;
  a{
    color: #fff;
  }
  ul{
    padding-top: 40px;
    text-align: center;
    li{
      padding-top: 15px;
      padding-right: 30px;
    }
  }
}