@import "bootstrap-sprockets";
@import "bootstrap";
@import "home";
@import "admin";
@import "item";
@import "sessions";
@import "partial";
@import "registrations";
@import "thanks";
@import "order";



.one{
	background: red;
	width: 400px;
	height: 400px;
	position: relative;
}
.two{
	background: #000;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 30%
}