.ml{
	position: absolute;
	top: 20px;
	right: 20px;
}

.form{
	color: black;
}

.nav-box{
	background-color: white;
	border: none;
	color: gray;
  	border-radius:10px;
  	box-shadow: none;
  	padding: 2px 8px;
}

.nav-box:focus {
  	outline: none;
}


.sample1 {
	width:			280px;
	height:			auto;
	margin-left: 90px;
	float: left;
}
.caption {
	font-size:	130%;
	text-align: center;
	color:	#fff;
	float: left;
}
.mask {
	width:			100%;
	height:			100%;
	opacity:		1;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.sample1:hover .mask {
	opacity:		1;	/* マスクを表示する */
}