.ml{
	position: absolute;
	top: 20px;
	right: 20px;
}

.form{
	color: black;
}

.nav-box{
	background-color: white;
	border: none;
	color: gray;
  	border-radius:10px;
  	box-shadow: none;
  	padding: 2px 8px;
}

.nav-box:focus {
  	outline: none;
}


