.backg{
	color: white;
	height: 120px;
	background: linear-gradient(25deg, #ff32a1, #ffce3f);
	padding: 0 70px;
}

.large{
	width: 100%;
	height: 120px;
}

.navitem-l{
	margin-top: 5px;
}

.navitem-r{
	float: right;
}

.music{
	font-size: 55px;
	float: left;
}

.nav-r{
	margin-top: 40px;
	margin-right: 70px;
	float: right;
	font-size: 30px;
}

.f-box{
	margin-top: 45px;
	margin-left: 20px;
	float: left;
}

li{
	list-style: none;
}