<div class="container">
<div class="page-header">
  <h2>お問い合わせ完了</h2>
</div>
  <h4 class="thanks-title">お問い合わせいただきありがとうございました。</h4>
  <p>後日担当者からご連絡差し上げますので、いましばらくお待ちください</p>
  <button class ="btn btn-info">
    TOPに戻る
  </button>
</div>
